<template>

	<div class="form-group">
		<h5>{{ question }}</h5>
		<input type="file" class="form-control-file">
		<small class="form-text text-muted">Supported Extensions: {{ extensions }}</small>
	</div>

</template>


<style scoped src="./index.css">
</style>


<script type="text/javascript" src="./index.js">
</script>
