<template>

	<div class="form-group">
		<h5 class="m-0">{{ question }}</h5>
		<input type="text" class="form-control" :placeholder="placeholder" :value="value">
		<label v-if="label">{{ label }}</label>
	</div>

</template>


<style scoped src="./index.css">
</style>


<script type="text/javascript" src="./index.js">
</script>
