<template>
	<div id="login" class="pt-5">

		<div class="container">
			<div class="row justify-content-center mt-5">
				<div class="col col-sm-12 col-md-6 mt-5 p-0">

					<login-form></login-form>

				</div>
			</div>
		</div>

	</div>
</template>


<style scoped src="./index.css"></style>


<script type="text/javascript">
	import vue from "./index.js";
	export { vue as default }
</script>