<template>

	<div class="card">
		<div class="card-body p-5">
			<h1 class="card-title font-weight-bold d-inline">Form Builder</h1>
			<span class="badge badge-success d-inline">Beta</span>

			<form v-on:submit.prevent="_securedLogin();" v-if="!loading" class="mt-5">
				<input type="email" class="form-control form-control-lg mb-4" placeholder="johnDoe@email.com" v-model="email" required>
				<button class="btn btn-primary btn-lg btn-block py-3"><small>Show me the Builder</small></button>
			</form>

			<div class="row justify-content-center mt-5" v-if="loading">
				<spring-spinner :animation-duration="2500" :size="50" color="#15628E"/>
			</div>

			<p class="mt-5 mb-0 lead">
				Hire me <a :href="'mailto:' + creator">{{ creator }}</a>
			</p>
		</div>
	</div>

</template>


<style scoped src="./index.css"></style>


<script type="text/javascript" src="./index.js"></script>