<template>

	<div class="form-group">
		<h4>{{ question }}</h4>
		<input type="date" class="form-control" :placeholder="format">
		<label class="text-muted">{{ label }}</label>
	</div>

</template>


<style scoped src="./index.css">
</style>


<script type="text/javascript" src="./index.js">
</script>
