<template>

	<div id="dashboard">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand mr-2" href="javascript:">Form Builder</a>
			<span class="badge badge-success d-inline">Beta</span>
		</nav>

		<div class="container-fluid">
			<builder></builder>
		</div>
	</div>

</template>


<style scoped src="./index.css"></style>


<script type="text/javascript">
	import vue from "./index.js";
	export { vue as default }
</script>