<template>

	<div class="text-capitalize mb-4 border-bottom">
		<h3 class="mb-0">{{ text }}</h3>
		<span class="d-block lead text-muted">{{ sub }}</span>
	</div>

</template>


<style scoped src="./index.css">
</style>


<script type="text/javascript" src="./index.js">
</script>
