<template>

	 <div class="form-group">
	 	<h5 class="mb-1">{{ question }}</h5>
		<select class="form-control">
			<option v-for="(option, index) in options" :selected="index == 0">{{ option }}</option>
		</select>
	</div>

</template>


<style scoped src="./index.css">
</style>


<script type="text/javascript" src="./index.js">
</script>
