<template>

	<div>
		<div class="btn-group btn-group-sm controls-btn">
			<button type="button" class="btn btn-secondary handle"><i class="fas fa-arrows-alt"></i></button>
			<button type="button" class="btn btn-secondary" v-on:click="_edit(template)"><i class="fas fa-edit"></i></button>
		</div>

		<component v-if="!loading" :is="_template._render" v-bind="_template._props"></component>

		<div class="row justify-content-center mt-5" v-if="loading">
			<spring-spinner :animation-duration="2500" :size="50" color="#15628E"/>
		</div>
	</div>

</template>


<style scoped src="./index.css"></style>


<script type="text/javascript" src="./index.js"></script>