<template>

	<div id="form-builder">
		<draggable v-model="templates" :options="{group:{ name:'template', pull:'clone', put:false, sort:false }}" class="row justify-content-center" id="ribbon-templates">
			<div v-for="template in templates" class="col-1 text-center">
				<i :class="template['icon']" class="fa-lg d-block mt-3"></i>
				<label class="mt-2 text-capitalize">{{ template["name"] }}</label>
			</div>
		</draggable>

		<div class="row justify-content-center border-top pt-3 pb-2">
			<div class="col-12 text-center mb-4">
				<div class="btn-group btn-group-sm">
					<button type="button" class="btn btn-primary" title="Download" v-on:click="_download()"><i class="fas fa-download"></i></button>
					<button type="button" class="btn btn-primary" title="View Raw File" v-on:click="_viewJSON()"><i class="fas fa-file"></i></button>
				</div>

				<div class="btn-group btn-group-sm">
					<button type="button" class="btn btn-success" title="Preview" v-on:click="_preview()"><i class="fas fa-print"></i></button>
				</div>

				<div class="d-inline ml-3 font-weight-bold text-uppercase"> Page 1/1</div>
			</div>

			<div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-9">
				<div class="row">
					<div class="col-8">
						<draggable v-model="canvas" class="canvas-area row p-3" :options="{group:{ name:'template', pull:false, handle:'.handle' }}">
							<div v-for="(form, index) in canvas" class="col-12">
								<dynamic-template :template="form" :_index="index" v-on:_editable="_editable"></dynamic-template>
							</div>
						</draggable>
					</div>

					<div class="col-4">
						<div class="card">
							<div class="card-body">
								<div class="form-group row" v-if="editable['_props']" v-for="(val, key) in editable['_props']">
									<label class="text-capitalize col-5">{{ key }}</label>
									<div class="col-7">
										<input type="text" class="form-control form-control-sm disabled-editable" :value="val" disabled>
									</div>
								</div>

								<p class="text-center m-0 text-muted" v-if="(Object.keys(editable).indexOf('_props') == -1) || (editable['_props'] && Object.keys(editable['_props']).length == 0)">No Editable Info Available</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>


<style scoped src="./index.css">
</style>


<script type="text/javascript" src="./index.js">
</script>
