<template>

	<div class="form-group">
		<h5 class="mb-3">{{ question }}</h5>
		<div class="custom-control custom-checkbox" v-for="(option, index) in options">
			<input type="checkbox" class="custom-control-input" :id="index">
			<label class="custom-control-label" :for="index">{{ option }}</label>
		</div>
	</div>

</template>


<style scoped src="./index.css">
</style>


<script type="text/javascript" src="./index.js">
</script>
